@font-face {
        font-family: "Outfit";
        src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap") format("tretype");
}




@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}