.container {
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding:1.7rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 0rem 3rem 0.1rem rgb(210, 210, 210);

}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    line-height: 1.4;
    font-size: 1.6rem;
    font-family: Outfit;
}
.container__qrcode {
    align-items: center;
    width: 100%;
    border-radius: 1rem;
}
.container__title {
    text-align: center;
    color: rgb(31, 49, 79);
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem 0;
}

.container__area {
    color: hsl(216, 15%, 48%);
}
.container__text {
    font-size: 2rem;
    text-align: center;
}
.container__attribution {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}